<div>
  <p><a href="/homepage"><img src="/img/intel-logo.svg" alt="Intel"></a></p>
  <ul>
    <li><a href="https://www.intel.com/content/www/us/en/company-overview/company-overview.html">Company Overview</a></li>
    <li><a href="https://www.intel.com/content/www/us/en/support/contact-us.html">Contact Intel</a></li>
    <li><a href="https://newsroom.intel.com/">Newsroom</a></li>
    <li><a href="https://www.intc.com/">Investors</a></li>
    <li><a href="https://www.intel.com/content/www/us/en/jobs/life-at-intel.html">Careers</a></li>
    <li><a href="/corporate-responsibility/corporate-responsibility">Corporate Responsibility</a></li>
    <li><a href="https://www.intel.com/content/www/us/en/inclusion/inclusion-at-intel.html">Inclusion</a></li>
    <li><a href="https://www.intel.com/content/www/us/en/company-overview/public-policy.html">Public Policy</a></li>
  </ul>
  <ul>
    <li><a href="https://www.facebook.com/Intel">Facebook</a></li>
    <li><a href="https://twitter.com/intel">X</a></li>
    <li><a href="https://www.linkedin.com/company/intel-corporation">LinkedIn</a></li>
    <li><a href="https://www.youtube.com/user/channelintel">YouTube</a></li>
    <li><a href="https://www.instagram.com/intel/">Instagram</a></li>
  </ul>
</div>
<div>
  <ul>
    <li><a href="https://www.intel.com/content/www/us/en/legal/terms-of-use.html">Terms of Use</a></li>
    <li><a href="https://www.intel.com/content/www/us/en/legal/trademarks.html">*Trademarks</a></li>
    <li><a href="https://www.intel.com/content/www/us/en/privacy/intel-cookie-notice.html">Cookies</a></li>
    <li><a href="https://www.intel.com/content/www/us/en/privacy/intel-privacy-notice.html">Privacy</a></li>
    <li><a href="https://www.intel.com/content/www/us/en/corporate-responsibility/statement-combating-modern-slavery.html">Supply Chain Transparency</a></li>
    <li><a href="https://www.intel.com/content/www/us/en/siteindex.html">Site Map</a></li>
    <li><a href="https://www.intel.com/content/www/us/en/support/articles/000098122/services.html">Recycling</a></li>
    <li><a href="https://www.intel.com/content/www/us/en/privacy/privacy-residents-certain-states.html">Notice of Collection</a></li>
  </ul>
</div>
<div>
  <p>© Intel Corporation. Intel technologies may require enabled hardware, software or service activation. No product or component can be absolutely secure. Your costs and results may vary. Performance varies by use, configuration, and other factors. Intel is committed to respecting human rights and avoiding causing or contributing to adverse impacts on human rights.</p>
</div>
