<div>
  <p><a href="/homepage"><img src="/img/favicons/favicon-180.png" alt="Intel">Intel</a></p>
</div>
<div>
  <ul>
    <li>
      <p><a href="/products/overview">Products</a></p>
      <div class="fragment-content">
        <ul>
          <li><a href="/products/overview">Products Home</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/products/details/processors.html">Processors</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/products/systems-devices.html">Select Systems &amp; Devices</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/products/docs/accelerator-engines/ai-engines.html">AI Accelerators</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/products/details/network-io.html">Network to Edge</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/software/software-overview.html">Software</a></li>
        </ul>
      </div>
    </li>
    <li>
      <p><a href="/support">Support</a></p>
      <div class="fragment-content">
        <ul>
          <li><a href="/support">Support Home</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/support/detect.html">Auto-update Drivers</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/download-center/home.html">Download Center</a></li>
          <li><a href="https://community.intel.com/">Support Community</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/support/contact-us.html">Contact Support</a></li>
        </ul>
      </div>
    </li>
    <li>
      <p><a href="https://www.intel.com/content/www/us/en/topics/overview.html">Solutions</a></p>
      <div class="fragment-content">
        <ul>
          <li><a href="/artificial-intelligence/overview">AI</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/security/overview.html">Security</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/environment/sustainability.html">Sustainability</a></li>
          <li><a href="/gaming/serious-gaming">Gaming</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/customer-spotlight/overview.html">Customer Case Studies</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/industries/overview.html">View All Industries</a></li>
        </ul>
      </div>
    </li>
    <li>
      <p><a href="/developer/overview">Developers</a></p>
      <div class="fragment-content">
        <ul>
          <li><a href="/developer/overview">Developers Home</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/developer/tools/software-catalog/overview.html">Software Catalog</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/developer/tools/overview.html">Development Tools</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/developer/learn/overview.html">Learn</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/developer/community/overview.html">Communities &amp; Events</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/developer/get-help/overview.html">Get Help</a></li>
        </ul>
      </div>
    </li>
    <li>
      <p><a href="https://www.intel.com/content/www/us/en/partner-alliance/overview.html">Partners</a></p>
      <div class="fragment-content">
        <ul>
          <li><a href="https://www.intel.com/content/www/us/en/partner-alliance/membership/overview.html">About Membership</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/partner/showcase/partner-directory/overview.html">Partner Directory</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/partner/showcase/partner-directory/distributor-select-region.html">Distributor Directory</a></li>
        </ul>
      </div>
    </li>
    <li>
      <p><a href="https://www.intel.com/content/www/us/en/foundry/overview.html">Foundry</a></p>
      <div class="fragment-content">
        <ul>
          <li><a href="https://www.intel.com/content/www/us/en/foundry/overview.html">Intel Foundry</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/foundry/systems-foundry.html">Systems Foundry</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/foundry/process.html">Process Technologies</a></li>
          <li><a href="https://www.intel.com/content/www/us/en/foundry/packaging.html">Advanced Packaging</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<div>
  <ul>
    <li><a href="/tools/widgets/scheme"><span class="icon icon-scheme"></span></a></li>
    <li><a href="/tools/widgets/language"><span class="icon icon-globe"></span></a></li>
    <li><a href="/tools/widgets/toggle"><span class="icon icon-menu"></span></a></li>
  </ul>
</div>
